@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    font-family: 'Montserrat', sans-serif;
}

.boardgameSite  .rank{
    margin: 20px 0 10px 0;
}

.boardgameSite{
    padding: 10px;
    padding-top: 75px;

}

.enable{
    display: none;
}

#gameList p{
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 109.2px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}


header{
    background-color: #80C4A7;
    position: fixed;
    width: 100vw;
    z-index: 8;
}

.logo{
    width:120px;
    margin: 5px 10px;
}

.loaderChess{
    width:100%;
}

.button {
    background-color: #80C4A7;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.gameInfo{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "image tekst"

}
.buttonTekst{
    text-align: right;
}

.bgTempTekst{
    grid-area: tekst;
}

.gameInfo h2{
    font-size: 1em;
    height: 40px;
    grid-area: header;
}
.gameInfo img{
    width: 80%;
    grid-area: image;

}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    position: relative
}

.container-fluid{
    padding: 10px;
    padding-top: 75px;

}

/*---------------------------------------------------
Loader
-------------------------------------------------*/


.loader {
width: 100vw;
    height: 100vh;
    background-color: #80c4a7;
z-index: 20;
    position: fixed;
}


/*---------------------------------------------
Menubar
-------------------------------------------*/
.menuBTN{
    position: fixed;
    bottom: 0;
    z-index: 10;
    cursor: pointer;
}

.menuItem{
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 10vw;
    transform-origin: right bottom;
    cursor: pointer;
}

.menuGames{
    transform-origin: right bottom;
    transform: rotate(45deg) scale(0);
    width: 40vw;

}

.menuMaps{
    transform-origin: right bottom;
    transform: rotate(90deg) scale(0);
    width: 40vw;

}
.menuPhone{
    transform-origin: right bottom;
    transform: rotate(135deg) scale(0);
    width: 40vw;

}

.menuInfo{
    width: 40vw;
    transform-origin: right bottom;
    transform: rotate(0deg) scale(0);

}

#menuPlus{
    width: 20vw;
    right: 40vw;
    left: 40vw;
}

.menuMaps.openedMenu{
    animation: opensMaps 0.2s forwards ease;
}

.menuInfo.openedMenu{
    animation: opensInfo 0.2s forwards ease;

}

.menuPhone.openedMenu{
    animation: opensPhone 0.2s forwards ease;
}
.menuGames.openedMenu{
    animation: opensGames 0.2s forwards ease;

}


@keyframes opensMaps{
    100%{transform: rotate(90deg) scale(1);
    }
}
@keyframes opensInfo{
    100%{transform: rotate(0deg) scale(1);
    }
}

@keyframes opensPhone{
    100%{transform: rotate(135deg) scale(1);
    }
}
@keyframes opensGames{
    100%{transform: rotate(45deg) scale(1);
    }
}



/*--------------------------------------------
big screen
----------------------------------------------*/
@media screen and (min-width: 580px){
#gameList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    #menuPlus{
    width: 10vw;
    left: 45vw;
    right: 45vw;
    }

    .menuItem{
        width: 20vw;
        left: 30vw;
        right: 40vw;
    }

}
@media only screen and (orientation: landscape){
    .loaderChess{
    width:auto;
    height: 100%;
    left:25%;
    }
}
